.images-list {
    margin: 20px 0;
    display: flex;
    background-color: white;
    padding-top: 10px;
    .images-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        .single-img {
            width: 100%;
        }
    }
    .no-images-view {
        display: grid;
        place-items: center;
        width: 100%;
        img {
            width: 100px;
        }
    }
}

@media only screen and (max-width: 1024px) {
	.images-list {
        .images-grid {
            display: grid;
            grid-template-columns: auto auto auto !important;
            grid-gap: 10px;
            .single-img {
                width: 100%;
            }
        }
        .no-images-view {
            display: grid;
            place-items: center;
            width: 100%;
            img {
                width: 100px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
	.images-list {
        margin: 20px 0;
        display: flex;
        background-color: white;
        padding-top: 10px;
        .images-grid {
            display: grid;
            grid-template-columns: auto auto !important;
            grid-gap: 10px;
            .single-img {
                width: 100%;
            }
        }
        .no-images-view {
            display: grid;
            place-items: center;
            width: 100%;
            img {
                width: 100px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
	.images-list {
        margin: 20px 0;
        display: flex;
        background-color: white;
        padding-top: 10px;
        .images-grid {
            display: grid;
            grid-template-columns: auto !important;
            grid-gap: 10px;
            .single-img {
                width: 100%;
            }
        }
        .no-images-view {
            display: grid;
            place-items: center;
            width: 100%;
            img {
                width: 100px;
            }
        }
    }
}
