.create-page {
	padding: 10vh 30vh 0 30vh;
	.form {
		margin-top: 20px;
		background-color: white;
	}
	.images-list {
		margin: 20px 0;
		display: flex;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		padding: 10px;
		.generated-image-container {
			width: 100%;
			position: relative;
			.overlay {
				position: absolute;
				height: 100% !important;
				width: 100%;
				opacity: 0.7;
				background-color: black;
				display: grid;
				place-items: center;
			}
		}
	}
	// .btn-back-to-top{
	//     position: absolute;
	//     bottom: 0;
	//     right: 0;
	// }
}
