.custom-header {
	background-color: #12151c;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	.header-logo {
		a {
			display: flex;
			color: white;
			.logo {
				height: 40px;
				margin-right: 10px;
			}
		}
	}
}
