.home-page {
	padding: 10vh 30vh;
	width: 100% !important;
	.search-input {
		width: 50%;
	}
}
@media only screen and (max-width: 1024px) {
	.home-page {
		padding: 5vh !important;
	}
}

@media only screen and (max-width: 768px) {
	.home-page {
		padding: 2vh !important;
	}
}

@media only screen and (max-width: 480px) {
	.home-page {
		width: 100% !important;
		padding: 2vh !important;
		.search-input {
			width: 100%;
		}
	}
}
